div{
	
	border: 3px solid black;
	border-radius: 30px;
	background: #d2d2d3;
	margin: 150px;
	width: 300px;
	padding: 60px;

	
}
text{
	border: 1px solid none;
	padding: 15%;
	margin: 4px;
	border-radius: 100%;
	text-align: center;
}







